body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    overflow-y: auto;
}

.container {
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    max-width: 800px; /* Increased max-width for larger content */
    width: 100%;
    margin: 20px auto;
    overflow-y: auto;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

.stats-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-bottom: 10px;
}

#stats {
    text-align: left;
    flex: 1 1 100%; /* Ensure it takes full width on smaller screens */
}

#stats p {
    margin: 0;
}

#doorCounts {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0; /* Remove gaps between items */
    margin-top: 10px;
}

#doorCounts li {
    flex: 1 1 33.333%; /* Ensure three items per row */
    text-align: center;
    margin-bottom: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.door-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.button-container {
    display: flex;
    gap: 10px; /* Add space between buttons */
}

.rename-button,
.delete-button {
    margin-left: 10px; /* Add space between buttons */
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input, select, button {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #002751;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#response {
    margin-top: 10px;
    text-align: center;
}

#recent-names {
    margin-top: 20px;
}

#recent-names ul {
    list-style-type: none;
    padding: 0;
}

#recent-names li {
    margin-bottom: 5px;
    padding: 5px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 3px;
}

#names-by-door {
    margin-top: 20px;
    max-height: 80vh;
    overflow-y: auto;
}

.names-group {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.scroll-container {
    max-height: 200px;
    overflow-y: auto;
    padding-right: 10px;
}

.names-group h2 {
    margin: 0 0 10px;
    text-align: center;
}

.names-group ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.names-group li {
    margin-bottom: 5px;
    padding: 5px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.button-group {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap; /* Ensure wrapping on smaller screens */
    margin-left: auto;
}

.logout-button,
.admin-button,
.createadmin-button {
    color: #007bff;
    text-decoration: none;
}

.logout-button:hover,
.admin-button:hover,
.createadmin-button:hover {
    color: #0056b3;
}

@media (max-width: 600px) {
    .stats-container {
        flex-direction: row;
        flex-wrap: nowrap; /* Prevent wrapping */
        justify-content: space-between;
        align-items: center;
    }

    .button-group {
        flex-direction: row;
        justify-content: flex-end;
    }

    #stats {
        text-align: left;
    }

    #stats p, #doorCounts li {
        font-size: 12px;
    }

    #doorCounts li {
        flex: 1 1 33.333%; /* Ensure three items per row */
        text-align: center;
        margin-bottom: 5px;
    }
}
